<div class="list list-inset">
    <label class="item item-input item-select">
        <span class="input-label">Type</span>
        <select ng-model="data.response" required>
            <option value="Consignment Note">Consignment Note</option>
            <option value="Excise Invoice">Excise Invoice</option>
            <option value="Material Bill">Material Bill</option>
            <option value="Debit Note">Debit Note</option>
            <option value="Debit Note">Other</option>
        </select>
    </label>
    <label class="item item-input">
        <span class="input-label">Other</span>
        <input type="text">
    </label>
</div>
