<ion-view>
    <ion-header-bar class="bar bar-subheader bar-stable">
        <h2 class="title">{{'CUSTOMER_NAME' | translate}}</h2>
    </ion-header-bar>
    <ion-content>
        <div>
            <br>
            <!--  Customer Name  -->

            <div class="item item-input item-stacked-label">
                <span class="input-label">{{'CUSTOMER_NAME' | translate}}</span>
                <input ion-autocomplete type="text" class="ion-autocomplete" ng-model="new_good_receipt.customer_name" item-view-value-key="value" max-selected-items="1" items-method="new_good_receipt_search.customer_search(query)" placeholder="{{'CUSTOMER_NAME' | translate}}" />
                </label>
            </div>
            <!-- Voucher ID  -->

            <div class="item item-input item-stacked-label">
                <span class="input-label">{{'VOUCHER_ID' | translate}}</span>

                <input type="number" min="1" ng-model="new_good_receipt.voucher_id" placeholder="{{'VOUCHER_ID' | translate}}" required>
                </label>
            </div>

            <!--  Vehicle Number  -->
            <div class="item item-input item-stacked-label">
                <span class="input-label">{{'VEHICLE_NUMBER' | translate}}</span>
                <input ion-autocomplete type="text" class="ion-autocomplete" ng-model="new_good_receipt.vehicle_number" item-view-value-key="value" max-selected-items="1" items-method="new_good_receipt_search.vehicle_search(query)" placeholder="{{'VEHICLE_NUMBER' | translate}}" />
                </label>
            </div>

            <!-- Customer Document Id -->
            <div class="item item-input item-stacked-label">
                <span class="input-label">{{'CUSTOMER_DOCUMENT_ID' | translate}}</span>
                <input type="text" ng-model="new_good_receipt.customer_document_id" placeholder="{{'CUSTOMER_DOCUMENT_ID' | translate}}">
                </label>
            </div>

        </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="col col-20 col-offset-80 button button-right button-balanced" on-tap="customer_name_next()">{{'NEXT' | translate}}</button>
    </ion-footer-bar>
</ion-view>
