<ion-view title="{{ 'CUSTOMER_DETAILS ' | translate }}">
    <ion-content class="module_wrap form_wrap has-header">
        <div class="main">
            <div class="main_form_wrap">
                <form name="GR_Form" novalidate class="form_inner">
                    <ion-list>
                        <ion-item class="item item-input item-stacked-label">
                            <label><span class="input-label">{{grc.user_input.goods_receipt_number}}{{'CUSTOMER_NAME' | translate}}</span></label>
                            <br/>
                            <input name="customer_name" ion-autocomplete type="text" class="ion-autocomplete" ng-model="grc.user_input.customer" item-view-value-key="value" max-selected-items="1" items-method="grc.autocomplete_customer(query)" items-clicked-method="grc.customerSelected(callback)" placeholder="{{'CUSTOMER_NAME' | translate}}" required/>
                        </ion-item>
                        <ion-item class="item item-input item-stacked-label contact_dtl">
                            <label><span class="input-label">{{ 'ADDRESS' | translate}}</span></label>
                            <div class="card ">
                                <div class="item item-text-wrap" ng-bind-html="grc.user_input.aditionalData.address">

                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item item-input item-stacked-label contact_dtl">
                            <label><span class="input-label">{{'CONTACT'| translate}}</span></label>
                            <div class="card">
                                <div class="item item-text-wrap">
                                    {{grc.user_input.aditionalData.contact}}, {{grc.user_input.aditionalData.mobile}}
                                </div>
                            </div>
                        </ion-item>

                        <ion-item class="reqired_fields">
                            <p ng-show="GR_Form.customer_name.$error.required">* {{'CUSTOMER_NAME' | translate}}</p>
                        </ion-item>

                    </ion-list>
                </form>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="pd20">
        <div class="btnnext_main">
            <button class="btn-next" ng-disabled="GR_Form.$invalid" ui-sref="root.good_receipt.step2">{{'NEXT' | translate}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
