<ion-view title="{{'ARUN_LOGISTICS_FIELD_APP' | translate }}">
    <ion-content scroll="false " class="module_wrap sign_wrap step_9">
        <ion-list class="cap_step9">
            <ion-item>
                <img ng-src="{{grc.signature.cameraFile.dir + grc.signature.cameraFile.file}}" id="customer_image_tag" />
            </ion-item>

        </ion-list>
        <script>
            var img_tag = document.getElementById("customer_image_tag");
            img_tag.width = window.innerWidth;
            img_tag.height = window.innerHeight - 170;

        </script>



        <div class="btnnext_main">
            <div class="row">
                <div class="col col-50">
                    <button class="btn-next" ng-click="take_new_image()">{{'TAKE_NEW_IMAGE' | translate}}</button>
                </div>
                <div class="col col-50">
                    <button class="btn-next" on-tap="grc.acceptAndUpload()">{{'CONFIRM' | translate}}</button>
                </div>
            </div>
        </div>


    </ion-content>


</ion-view>
