<ion-view>
    <ion-header-bar class="bar bar-subheader bar-stable">
        <h2 class="title">{{'ITEM_RECEIVED_NAME' | translate}}</h2>
    </ion-header-bar>
    <ion-content>
        <div>
            <br>
            <div class="row">
                <div class="col-50" align="center">
                    <div class="item item-divider">
                        <h4 class="title">{{'FILLED' | translate}}</h4>
                    </div>
                    <ion-list>
                        <ion-item ng-repeat="img in grc.gr_config.filled" on-tap="grc.set_item('received', grc.gr_config.filled[$index], 'root.good_receipt.step5')">
                            <img ng-src="{{img.img_url}}" alt="{{img.id}}">
                            <h3 ng-bind="img.name"></h3>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="col-50" align="center">
                    <div class="item item-divider">
                        <h4 class="title">{{'EMPTY' | translate}}</h4>
                    </div>
                    <ion-list>
                        <ion-item ng-repeat="img in grc.gr_config.empty" on-tap="grc.set_item('received', grc.gr_config.empty[$index], 'root.good_receipt.step5')">
                            <img ng-src="{{img.img_url}}" alt="{{img.id}}">
                            <h3 ng-bind="img.name"></h3>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="col col-20 col-offset-80 button button-right button-balanced" ui-sref="root.good_receipt.step6">{{'SKIP' | translate}}</button>
    </ion-footer-bar>
</ion-view>
