<ion-view title="{{ 'REVIEW ' | translate }}">
    <ion-content scroll="false" class="module_wrap report_module gr_step5">
        <div class="main">
            <div class="report_table" id="review_template">

                <ion-list>
                    <!--  Shortage  -->
                    <ion-item class="item item-input item-stacked-label date_field">
                        <div class="row storage_dtl">
                            <div class="col col-100">
                                <p class="Text_R">{{'DATE' | translate}}: {{ grc.user_input.transaction_date | date:"dd/MM/yyyy" }}</p>
                                <p>{{'VOUCHER' | translate}}: {{ grc.user_input.goods_receipt_number }}</p>
                            </div>

                        </div>
                        <div class="row storage_dtl storage_address">
                            <p>{{'CUSTOMER' | translate }}: {{ grc.user_input.customer.value }} <span>{{ grc.user_input.aditionalData.address | htmlToPlaintext }}</span></p>
                        </div>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <!-- Excess -->
                    <ion-item class="item item-input item-stacked-label F_itemsfields">
                        <table>
                            <thead>
                                <th> {{'ITEM' | translate}}</th>
                                <th> {{'FILLED' | translate}}</th>
                                <th> {{'EMPTY' | translate}}</th>
                                <th>{{'TXN_TYPE' | translate}}</th>
                            </thead>
                            <tbody>
                                <tr ng-show="grc.user_input.item_delivered">
                                    <td>{{ grc.user_input.item_delivered | translate }}</td>
                                    <td>
                                        <span ng-show="grc.user_input.item_delivered.indexOf('FC') > -1">
                                            {{ grc.user_input.delivered_quantity }}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-show="grc.user_input.item_delivered.indexOf('EC') > -1">
                                            {{ grc.user_input.delivered_quantity }}
                                        </span>
                                    </td>
                                    <td>{{'DELIVERED' | translate}}</td>
                                </tr>
                                <tr ng-show="grc.user_input.item_received">
                                    <td>{{ grc.user_input.item_received | translate }}</td>
                                    <td>
                                        <span ng-show="grc.user_input.item_received.indexOf('FC') > -1">
                                            {{ grc.user_input.received_quantity }}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-show="grc.user_input.item_received.indexOf('EC') > -1">
                                            {{ grc.user_input.received_quantity }}
                                        </span>
                                    </td>
                                    <td>{{'RECIEVED' | translate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ion-item>
                    <ion-item class="item item-input item-stacked-label t_itemsfields">
                        <table>
                            <tbody>
                                <tr ng-show="grc.user_input.short || grc.user_input.residue || grc.user_input.excess">
                                    <th>{{'SHORTAGE' | translate}}</th>
                                    <th>{{'RESIDUE'| translate}}</th>
                                    <th>{{'EXCESS' | translate}}</th>
                                </tr>
                                <tr ng-show="grc.user_input.short || grc.user_input.residue || grc.user_input.excess">
                                    <td>{{ grc.user_input.short }}</td>
                                    <td>{{ grc.user_input.residue }}</td>
                                    <td>{{ grc.user_input.excess }}</td>
                                </tr>
                                <tr ng-show="grc.user_input.customer_document_id">
                                    <td>{{ 'CUSTOMER_DOCUMENT_ID' | translate}}</td>
                                    <td colspan="2">{{ grc.user_input.customer_document_id }}</td>
                                </tr>
                                <tr ng-show="grc.user_input.delivered_remarks || grc.user_input.received_remarks">
                                    <td colspan="3">Remarks: {{ grc.user_input.delivered_remarks }} {{ grc.user_input.received_remarks }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ion-item>
                </ion-list>
            </div>

        </div>
        <ion-footer-bar>
            <div class="btnnext_main">
                <div class="col">
                    <button class="btn-next" ng-disabled="new_good_receipt_search.take_signature_next_disable" on-tap="grc.moveToSignatureForm()">{{'NEXT' | translate}}</button>
                </div>
            </div>
        </ion-footer-bar>
    </ion-content>
</ion-view>
