<ion-view>
    <ion-header-bar class="bar bar-subheader bar-stable">
        <h2 class="title">{{'ITEM_DELIEVERED_QUANTITY' | translate}}</h2>
    </ion-header-bar>
    <ion-content>
        <div>
            <br>
            <div>
                <label class="item item-input" style="width:100%;">
                    <span class="input-label">{{'QUANTITY' | translate}}</span>
                    <input type="number" min="1" ng-model="grc.user_input.delivered_quantity" required>
                </label>
            </div>
            <label class="item item-input item-floating-label" style="width:100%;">
                <span class="input-label">Remarks</span>
                <input type="text" placeholder="Remarks" ng-model="grc.user_input.delivered_remarks">
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="col col-20 col-offset-80 button button-right button-balanced" ui-sref="root.good_receipt.step4">{{'NEXT' | translate}}</button>
    </ion-footer-bar>
</ion-view>