<ion-view title="{{'ARUN_LOGISTICS_FIELD_APP' | translate }}">
    <ion-content class="goods_reciepts module_wrap">
        <div class="main">
            <ion-list>
                <div class="field_wrap form_moduals">
                    <div class="row">
                        <div class="col-50" align="center">
                            <div class="fc_left fc_dtl">
                                <div class="item item-divider">
                                    <h4 class="title">{{'FILLED' | translate}}</h4>
                                </div>
                                <ion-list>
                                    <ion-item ng-repeat="img in grc.gr_config.filled" on-tap="grc.set_item('received', grc.gr_config.filled[$index], 'root.good_receipt.step5')">
                                        <img ng-src="{{img.img_url}}" alt="{{img.id}}">
                                        <h3 ng-bind="img.name"></h3>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>
                        <div class="col-50" align="center">
                            <div class="fc_right fc_dtl">
                                <div class="item item-divider">
                                    <h4 class="title">{{'EMPTY' | translate}}</h4>
                                </div>
                                <ion-list>
                                    <ion-item ng-repeat="img in grc.gr_config.empty" on-tap="grc.set_item('received', grc.gr_config.empty[$index], 'root.good_receipt.step5')">
                                        <img ng-src="{{img.img_url}}" alt="{{img.id}}">
                                        <h3 ng-bind="img.name"></h3>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>

                    </div>
                </div>
            </ion-list>
            <div class="btnnext_main">
                <button class="btn-next" ui-sref="root.good_receipt.step6">{{'SKIP' | translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>
