<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <widget id="com.ionicframework.fieldapp197121" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>Field Report</name>
        <description>
            An app reporting for field
        </description>
        <author email="feedback@arungas.com" href="https://erp.arungas.com/">
            Arun Logistics
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="webviewbounce" value="false" />
        <preference name="UIWebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="android-minSdkVersion" value="16" />
        <preference name="BackupWebStorage" value="none" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="0" />
        <preference name="xwalkVersion" value="15+" />
        <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
        <preference name="xwalkMode" value="embedded" />
        <preference name="xwalkMultipleApk" value="true" />
        <feature name="StatusBar">
            <param name="ios-package" onload="true" value="CDVStatusBar" />
        </feature>
        <platform name="android">
            <icon density="ldpi" src="resources/android/icon/ionic.png" />
            <icon density="mdpi" src="resources/android/icon/ionic.png" />
            <icon density="hdpi" src="resources/android/icon/ionic.png" />
            <icon density="xhdpi" src="resources/android/icon/ionic.png" />
            <icon density="xxhdpi" src="resources/android/icon/ionic.png" />
            <icon density="xxxhdpi" src="resources/android/icon/ionic.png" />
            <splash density="land-ldpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="land-mdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="land-hdpi" src="resources/android/splash/splash.png" width="1024" height="768" width="1024" height="768" />
            <splash density="land-xhdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="land-xxhdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="land-xxxhdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="port-ldpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="port-mdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="port-hdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="port-xhdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="port-xxhdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <splash density="port-xxxhdpi" src="resources/android/splash/splash.png" width="1024" height="768" />
            <preference name="AndroidPersistentFileLocation" value="Compatibility" />
            <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external" />
            <access origin="cdvfile:*" />
            <allow-navigation href="cdvfile:*" />
            <allow-navigation href="http://*/*" />
            <allow-intent href="cdvfile:*" />
        </platform>
    </widget>
