<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>

        <ion-nav-bar class="bar-positive">

            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-title>
                <h1 class="title">{{'ARUN_LOGISTICS_FIELD_APP' | translate }}</h1>
            </ion-nav-title>


            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close>
                    <div class="item item-avatar">
                        <img ng-src="{{ startup.user.image }}">
                        <h2>{{ startup.user.fullname }}</h2>
                        <p ng-click="logout()">Logout</p>
                    </div>
                </ion-item>

                <ion-item menu-close>
                    <div ng-show="location_lock == 0">
                        <i class="ion-android-locate"></i><span style="padding-left: 7%">GPS Locking</span>
                    </div>
                    <div ng-show="location_lock == 1">
                        <i class="ion-android-pin"></i><span style="padding-left: 7%">GPS Locked</span>
                    </div>
                    <div ng-show="location_lock == 2">
                        <i class="ion-ios-close-outline"></i><span style="padding-left: 7%">GPS Retrying</span>
                    </div>
                </ion-item>
                <br/>

                <div class="item item-divider">
                    Select Language
                </div>
                <ion-item menu-close ng-click="switchLanguage('en')">
                    English
                </ion-item>
                <ion-item menu-close ng-click="switchLanguage('hi')">
                    हिन्दी
                </ion-item>
                <br/>

                <div class="item item-divider">
                    {{'UPLOAD' | translate}} (0)
                </div>
                <ion-item menu-close href="#/app/browse">
                    {{'UPLOAD' | translate}} {{'DATA' | translate }}
                </ion-item>
                <br/>

                <ion-item menu-close href="#/app/playlists">
                    {{'UPLOAD' | translate}} {{'ERRORS' | translate}}
                </ion-item>
                <ion-item menu-close href="#/db">
                    Show Database
                </ion-item>
                <ion-item menu-close ng-click="open_developer_pane()">
                    Developer Options
                </ion-item>
                <br/>
                <div class="item item-divider">
                    Version (v1)
                </div>
                <ion-item menu-close href="#/app/playlists">
                    {{'CHECK_FOR_UPDATE' | translate}}
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    {{'UPDATE' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
