<ion-view>

    <br>
    <br>
    <div class="bar bar-light">
        <h1 class="title">Cheque</h1>
    </div>
    <ion-content>

        <br>
        <br>
        <div class="list">

            <label class="item item-input item-stacked-label">
                <span class="input-label">Company</span>
                <input ion-autocomplete type="text" class="ion-autocomplete" ng-model="user_input.company" items-method="company_search(query)" item-view-value-key="value" placeholder="Company" max-selected-items="1" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Customer Account</span>
                <input ion-autocomplete type="text" class="ion-autocomplete" ng-model="user_input.customer_account" items-method="account_search(query)" item-view-value-key="value" placeholder="Account Number" max-selected-items="1" />

            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Bank Account</span>
                <input ion-autocomplete type="text" class="ion-autocomplete" ng-model="user_input.bank_account" items-method="account_search(query)" item-view-value-key="value" placeholder="Bank Account" max-selected-items="1" />

            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Amount</span>
                <input type="number" placeholder="Total Amount" ng-model="user_input.amount">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Instrument Number</span>
                <input type="text" placeholder="Cheque/DD Number" ng-model="user_input.instrumentnumber">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Instrument Date</span>
                <input type="date" ng-model="user_input.instrumentdate">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Instrument Bank</span>
                <input type="text" placeholder="Cheque/DD Bank Name" ng-model="user_input.instrumentbank">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Remarks</span>
                <input type="text" placeholder="Remarks" ng-model="user_input.remarks">
            </label>


            <button class="button button-block button-positive" ng-click="captureAndReview()">
                Capture
            </button>

        </div>
    </ion-content>
</ion-view>
