<ion-view title="Home">
    <ion-content padding="false" class="has-header main">
        <div class="home_container">
            <div class="row">
                <div class="col-50 h_contain">
                    <div class="home_block" on-tap="goodsReceiptFlow()" ng-show="isAuthorized('Goods Receipt')">
                        <div class="cir_icon">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="des_text">
                            <h4>{{ 'GOODS_RECEIPT' | translate }}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-50 h_contain">
                    <div class="home_block" on-tap="paymentReceiptFlow()" ng-show="isAuthorized('Payment Receipt')">
                        <div class="cir_icon">
                            <i class="ion-ios-list-outline"></i>
                        </div>
                        <div class="des_text">
                            <h4>{{ 'PAYMENT_RECEIPT' | translate }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-50 h_contain">
                    <div class="home_block" on-tap="cashFlow()" ng-show="isAuthorized('Journal Voucher')">
                        <div class="cir_icon">
                            <i class="fa fa-inr"></i>
                        </div>
                        <div class="des_text">
                            <h4>{{'CASH' | translate }}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-50 h_contain">
                    <div class="home_block" on-tap="invoiceFlow()" ng-show="isAuthorized('Indent Invoice')">
                        <div class="cir_icon">
                            <i class="fa fa-newspaper-o"></i>
                        </div>
                        <div class="des_text">
                            <h4>{{ 'INVOICE' | translate }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-50 h_contain">
                    <div class="home_block" ng-click="chequeFlow()" ng-show="isAuthorized('Journal Voucher')">
                        <div class="cir_icon">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div class="des_text">
                            <h4>{{ 'CHEQUE' | translate }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>