<div class="bar bar-subheader">
    <h2 class="title">Invoice</h2>
</div>
<div>
    <br>
    <br>
    <br>
    <br>

    <div class="list">

        <label class="item item-input item-select">
            <div class="input-label">
                Type
            </div>
            <select ng-model="user_input.type">
                <option selected>Consignment Note</option>
                <option>Sales Invoice</option>
            </select>
        </label>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Document Number" ng-model="user_input.id">
            </label>

            <button class="button button-block button-positive" ng-click="getMetedata(user_input)">
                Pull Invoice Details
            </button>
        </div>
    </div>
</div>