<div class="bar bar-subheader">
    <h2 class="title">{{'INVOICE' | translate }}</h2>
</div>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button class="button button-block button-stable" ng-click="scanBarcode()">
        <i class="icon ion-loading-c"></i>{{'SCAN' | translate }} QR Code
        <a class="button icon-right ion-chevron-right button-calm">Scan</a>
    </button>
</div>
<br>
<button class="button button-block button-light button icon">OR</button>

<br>
<br>

<div>
    <button class="button button-block button-stable" ng-click="invoiceEnterMaually()">
        <i class="icon ion-loading-c"></i> {{'ENTER_MANUALLY' | translate }}
        <a class="button icon-right ion-chevron-right button-calm">Enter</a>
    </button>
</div>
