<div class="bar bar-subheader">
    <h2 class="title">Invoice</h2>
</div>
<br>
<br>
<br>
<br>
<div class="list card">
    <div class="card">
        <div class="item item-text-wrap">{{ metadata }}
        </div>
        <div class="item item-image">
            <button class="button icon-left ion-chevron-left button-clear button-dark">Retake</button>
            <img src="cover.jpg">

        </div>
        <div class="item item-image">
            <button class="button icon-right ion-chevron-right button-clear button-dark">Retake</button>
            <img src="cover.jpg">
        </div>
    </div>
</div>

<div class="bar bar-footer bar-stable">
    <button class="button button-block button-large button-balanced"><strong>Upload</strong></button>
</div>
</div>
