<ion-view>
    <ion-header-bar class="bar bar-subheader bar-stable">
        <h2 class="title">{{'PAYMENT_RECEIPT_INFORMATION' | translate}}</h2>
    </ion-header-bar>
    <ion-content>
        <div>
            <br>
            <div class="list">
                <!-- Stock Owner  -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'STOCK_OWNER' | translate}}</span>
                    <input type="text" class="autocomplete" ion-autocomplete ng-model="new_payment_receipt.stock_owner" item-view-value-key="value" items-method="new_payment_receipt_search.stock_owner_search(query)" placeholder="{{'STOCK_OWNER' | translate}}" />
                </label>

                <!-- Voucher ID  -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'VOUCHER_ID' | translate}}</span>

                    <input type="number" min="1" ng-model="new_payment_receipt.voucher_id" placeholder="{{'VOUCHER_ID' | translate}}" required>
                </label>
            

            <!--  Quantity  -->

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'QUANTITY' | translate}}</span>
                <input type="number" min="1" ng-model="new_payment_receipt.quantity" placeholder="{{'QUANTITY' | translate}}" required>
            </label>

        <!--  Amount Per Item  -->

        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'AMOUNT_PER_ITEM' | translate}}</span>
            <input type="number" min="1" ng-model="new_payment_receipt.amount_per_item" placeholder="{{'AMOUNT_PER_ITEM' | translate}}" required>
        </label>

        <!-- Item  -->
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'ITEM' | translate}}
                </div>
                <select ng-model="new_payment_receipt.item">
                    <option>FC19</option>
                </select>
            </label>
        </div>

        <!-- Transaction Type  -->
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'TRANSACTION_TYPE' | translate}}
                </div>
                <select ng-model="new_payment_receipt.transaction_type">
                    <option>{{'REFILL' | translate}}</option>
                    <option>{{'TV_OUT' | translate}}</option>
                    <option>{{'NEW_CONNECTION' | translate}}</option>
                </select>
            </label>
        </div>
        </div>

        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="col col-20 col-offset-80 button button-right button-balanced" on-tap="payment_receipt_next()">{{'NEXT' | translate}}</button>
    </ion-footer-bar>
</ion-view>
