<ion-view title="{{'PAYMENT_RECEIPT_INFORMATION' | translate}}">
    <ion-content class="module_wrap form_wrap">
        <div class="main">
            <div class="main_form_wrap payment_rec">
                <form name="PR_Form" novalidate>
                    <ion-list>
                        <div class="list">
                            <!-- Stock Owner  -->
                            <ion-item class="item item-input item-stacked-label">
                                <label><span class="input-label">{{'STOCK_OWNER' | translate}}</span></label>
                                <input type="text" class="autocomplete" max-selected-items="1" ion-autocomplete ng-model="prc.user_input.stock_owner" item-view-value-key="value" items-method="prc.autoCompleteStockOwner(query)" placeholder="{{'STOCK_OWNER' | translate}}" name="stock_owner" required/>
                            </ion-item>

                            <!-- Voucher ID  -->
                            <ion-item class="item item-input item-stacked-label">
                                <label><span class="input-label">{{'VOUCHER_ID' | translate}}</span></label>
                                <input type="number" min="1" ng-model="prc.user_input.id" placeholder="{{'VOUCHER_ID' | translate}}" name="voucher_id" required>
                            </ion-item>

                            <!-- Customer -->
                            <ion-item class="item item-input item-stacked-label">
                                <label><span class="input-label">{{'CUSTOMER_NAME' | translate}}</span></label>
                                <input type="text" placeholder="{{'CUSTOMER_NAME' | translate}}" ng-model="prc.user_input.customer" required>
                            </ion-item>

                            <!--  Quantity  -->
                            <ion-item class="item item-input item-stacked-label">
                                <label><span class="input-label">{{'QUANTITY' | translate}}</span></label>
                                <input type="number" placeholder="{{'QUANTITY' | translate}}" ng-model="prc.user_input.qty" required>
                            </ion-item>

                            <!--  Amount Per Item  -->
                            <ion-item class="item item-input item-stacked-label select_item">
                                <div class="list">
                                    <label><span class="input-label"> {{'ITEM' | translate}}</span></label>
                                    <select ng-model="prc.user_input.item">
                                        <option selected>{{'ITEM' | translate}}</option>
                                        <option selected>FC19</option>
                                    </select>

                                </div>
                            </ion-item>

                            <!-- Item  -->
                            <ion-item class="item item-input item-stacked-label">
                                <label><span class="input-label">{{'AMOUNT_PER_ITEM' | translate}}</span></label>
                                <input type="text" placeholder="{{'AMOUNT_PER_ITEM' | translate}}" ng-model="prc.user_input.amount_per_item" required>
                            </ion-item>


                            <!-- Transaction Type  -->
                            <ion-item class="item item-input item-stacked-label select_item">
                                <div class="list">
                                    <label><span class="input-label"> {{'TRANSACTION_TYPE' | translate}}</span></label>
                                    <select ng-model="prc.user_input.transaction_type" placeholder="{{'TRANSACTION_TYPE' | translate}}">
                                        <option>{{'REFILL' | translate}}</option>
                                        <option>{{'TV_OUT' | translate}}</option>
                                        <option>{{'NEW_CONNECTION' | translate}}</option>
                                    </select>
                                </div>
                            </ion-item>
                            <ion-item class="item item-input item-stacked-label">
                                <label><span class="input-label">{{'Remarks' | translate}}</span></label>
                                <input type="text" placeholder="Remakrs" ng-model="prc.user_input.remarks" required>
                            </ion-item>

                            <!-- required fields -->
                            <ion-item class="reqired_fields">
                                <p ng-show="PR_Form.stock_owner.$error.required">* Stock Owner Name is required</p>
                                <p ng-show="PR_Form.voucher_id.$error.required">* Voucher ID is required</p>
                                <p ng-show="PR_Form.quantity.$error.required">* Please fill the Quantity</p>
                                <p ng-show="PR_Form.amount.$error.required">* Amount is required</p>
                            </ion-item>
                        </div>
                    </ion-list>
                    <div class="btnnext_main">
                        <button class="btn-next" ng-disabled="PR_Form.$invalid" ng-click="prc.acceptAndCreateVoucher()">{{'UPDATE' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
