<br>
<br>
<div class="bar bar-light">
  <h1 class="title">Cash</h1>
</div><br><br>
<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Company</span>
        <input type="text" placeholder="Name">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Account</span>
        <input type="text" placeholder="Account Number">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Amount</span>
        <input type="text" placeholder="Amount ">
    </label>
    <button class="button button-block button-positive" ng-click="startTakeSignature()">
          Take Signature
    </button>
</div>