<ion-view>  
<ion-pane>
      <ion-content class='has-header padding' scroll='false'>
          <div id='signature_canvas_div'></div>
          <div class='button-bar'>
              <a class='button button-energized' ng-click="clearCanvas()">{{'Clear' | translate }}</a>
          </div>
          <br>
          <img ng-src='{{signature}}'/>
      </ion-content>
        <div class="bar bar-footer">
        <button ng-click="clearCanvas()" class="col col-20 col-offset-80 button button-right button-balanced">{{'Upload' | translate }}</button>
    </div>
    </ion-pane>
    </ion-view> 