<ion-view>
    <br><br>
<div class="bar bar-light">
    <h1 class="title">{{'Cash' | translate }}</h1>
</div>
    <ion-content>
<br>
<br>
<div class="list" id="cash_details">
    <label class="item item-input item-stacked-label">
        <span class="input-label">{{'Company' | translate }}</span>
        <input ion-autocomplete type="text" class="ion-autocomplete" ng-model="user_input.company" items-method="company_search(query)" item-view-value-key="value" placeholder="{{'Company Name' | translate }}" max-selected-items="1" />

    </label>
    <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Account' | translate }}</span>
                <input ion-autocomplete type="text" class="ion-autocomplete" ng-model="user_input.account" items-method="account_search(query)" item-view-value-key="value" placeholder="{{'Account Number' | translate }}" max-selected-items="1" />

            </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">{{'Amount' | translate }}</span>
        <input type="number" placeholder="{{'Amount' | translate }} {{'in' | translate }} ₹">
    </label>
    <button class="button button-block button-positive" ng-click="startTakeSignature()">
        {{'Take Signature' | translate }}
    </button>
</div>
</ion-content>
</ion-view>