/** Styling for the username field **/

label.item.has-error {
    border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/

label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/

label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

/** Styling for the error text and container **/

.form-errors {
    margin: 5px 0
}
.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}
#review_template td {
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    padding-left: 10px;
}
#review_template th {
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    padding: 10px;
}
#review_template table {
    margin: 5px;
    width: 97%;
    border: 1px solid black;
}
.glass {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, #ffffff 75%, #ffffff 75%, rgba(255, 255, 255, 0.2) 100%);
}
div .glass {
    background: linear-gradient(90deg, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .5) 25%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .4) 100%);
}
div .glass button {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
div .glass button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.7);
}
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.transparent {
    background: rgba(0, 0, 0, 0.7);
}
.slider {
    width: 100%;
    height: 100%;
}
.image {
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
